language: python
python: "2.7"
dist: xenial

virtualenv:
  system_site_packages: true

# This (sudo: false) is needed to "run on container-based infrastructure" on
# which cache: is available
# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: required

cache: pip

addons:
  postgresql: "9.6"

env:
    - USER_AGENT=Travis TEST=install
    - USER_AGENT=Travis TEST=upgrade

before_install:
  # The installation of the python dependencies must be done in that level for now
  # otherwise they are not available in the containers,
  # see https://github.com/travis-ci/travis-ci/issues/8048
  # Changing the value for sudo will also need to be reviewed at the same time
  # This will need to be reviewed when the issue above is fixed
  - export PATH=/usr/bin/:$PATH
  - sudo apt-get -y install python-{pillow,numpy,psutil}
  - sudo apt-get -y install python-dev build-essential
  - sudo apt-get -y install db5.3-util
  - sudo apt-get -y install libssl-dev libbz2-dev libmcpp-dev libdb++-dev libdb-dev

  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 5E6DA83306132997
  - sudo apt-add-repository "deb http://zeroc.com/download/apt/ubuntu`lsb_release -rs` stable main"
  - sudo apt-get update
  - sudo apt-get -y install zeroc-ice-all-runtime zeroc-ice-all-dev
  - sudo pip install -U https://github.com/ome/zeroc-ice-py-ubuntu1604/releases/download/0.1.0/zeroc_ice-3.6.4-cp27-cp27mu-linux_x86_64.whl
  - pip install --upgrade pip setuptools
  - pip install -r requirements.txt
  - pip install flake8
  - flake8 -v .

before_script:
    - psql -c "create user omero with password 'omero';" -U postgres
    - psql -c "create database omero with owner omero;" -U postgres
    #- psql -c "select 1;" -U omero -h localhost omero
    - mkdir $HOME/OMERO
    - echo "config set omero.data.dir $HOME/OMERO" > $HOME/config.omero
    - echo "config set omero.db.name omero" >> $HOME/config.omero
    # required so the server can start
    - echo "config set Ice.IPv6 0" >> $HOME/config.omero
script:
    # The installation is run in the virtual env
    # Required to explicitly activate it
    - source $HOME/virtualenv/python2.7_with_system_site_packages/bin/activate
    - ./travis-build

after_failure:
    - tail -n 1000 OMERO.server/var/log/Blitz-0.log
