language: python
python: "2.7"
dist: bionic

# This (sudo: false) is needed to "run on container-based infrastructure" on
# which cache: is available
# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: required

cache: pip

addons:
  postgresql: "9.6"

matrix:
  include:
    - python: 2.7
      env:
        - TOX_ENV=py27travis
        - USER_AGENT=Travis
        - TEST=install
    - python: 2.7
      env:
        - TOX_ENV=py27travis
        - USER_AGENT=Travis
        - TEST=upgrade
    - python: 3.6
      env:
        - TOX_ENV=py36travis
        - USER_AGENT=Travis
        - TEST=install
    - python: 3.6
      env:
        - TOX_ENV=py36travis
        - USER_AGENT=Travis
        - TEST=upgrade

before_install:
  # The installation of the python dependencies must be done in that level for now
  # otherwise they are not available in the containers,
  # see https://github.com/travis-ci/travis-ci/issues/8048
  # Changing the value for sudo will also need to be reviewed at the same time
  # This will need to be reviewed when the issue above is fixed
  - if [ "${TRAVIS_PYTHON_VERSION:-}" = "2.7" ]; then export PATH=/usr/bin/:$PATH; fi
  - ./travis-install
  - pip install 'flake8<3.8' tox
  - flake8 -v .

before_script:
    - psql -c "create user omero with password 'omero';" -U postgres
    - psql -c "create database omero with owner omero;" -U postgres
    #- psql -c "select 1;" -U omero -h localhost omero
    - mkdir $HOME/OMERO
    - echo "config set omero.data.dir $HOME/OMERO" > $HOME/config.omero
    - echo "config set omero.db.name omero" >> $HOME/config.omero
    # required so the server can start
    - echo "config set Ice.IPv6 0" >> $HOME/config.omero
script:
    - tox -e $TOX_ENV

after_failure:
    - tail -n 1000 OMERO.server/var/log/Blitz-0.log
